#captcha {
    overflow: hidden;
    padding-right: unset;
    position: fixed;
    left: 0;
    right: 0;
    top: 23px;
    margin: auto auto;
    z-index: 999
}

body::before {
    content: "the session id was revoked, please solve this captcha and press continue 👇";
    text-align: center;
    padding: 120px 20px;
    position: fixed;
    background: whitesmoke;
    border: 3px dashed rgb(211, 211, 211);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 998;
}

body {
    overflow: hidden
}